body {
    background-image: url('alan-chen-7VXfVi-Krok-unsplash.jpg');
    background-size: cover;
    opacity: 1.0;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
  }

  a {
      display: block;
  }